<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam dolorem quos necessitatibus ipsam debitis nisi quasi, animi nostrum totam corrupti at cum. Saepe, cumque.</p><p>Vitae enim soluta delectus quod iure est magnam impedit accusamus facere, consequatur tenetur distinctio molestias expedita corrupti, modi voluptate cumque. Aperiam, neque eos? Optio, ipsa itaque. Expedita, alias aliquam. Autem odio aut eum doloribus animi. Eius, veniam rem iure maiores non tenetur. Iste sequi delectus explicabo alias tenetur hic assumenda possimus dicta, quia, natus commodi!</p>

Post::create([
    'title' => 'First post',
    'category_id' => 1,
    'slug' => 'first-post',
    'excerpt' => 'First post details ...',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam dolorem quos necessitatibus ipsam debitis nisi quasi, animi nostrum totam corrupti at cum. Saepe, cumque.</p><p>Vitae enim soluta delectus quod iure est magnam impedit accusamus facere, consequatur tenetur distinctio molestias expedita corrupti, modi voluptate cumque. Aperiam, neque eos? Optio, ipsa itaque. Expedita, alias aliquam. Autem odio aut eum doloribus animi. Eius, veniam rem iure maiores non tenetur. Iste sequi delectus explicabo alias tenetur hic assumenda possimus dicta, quia, natus commodi!</p>'
])
Post::create([
    'title' => 'Second post',
    'category_id' => 2,
    'slug' => 'second-post',
    'excerpt' => 'Second post details ...',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam dolorem quos necessitatibus ipsam debitis nisi quasi, animi nostrum totam corrupti at cum. Saepe, cumque.</p><p>Vitae enim soluta delectus quod iure est magnam impedit accusamus facere, consequatur tenetur distinctio molestias expedita corrupti, modi voluptate cumque. Aperiam, neque eos? Optio, ipsa itaque. Expedita, alias aliquam. Autem odio aut eum doloribus animi. Eius, veniam rem iure maiores non tenetur. Iste sequi delectus explicabo alias tenetur hic assumenda possimus dicta, quia, natus commodi!</p>'
])
Post::create([
    'title' => 'Third post',
    'category_id' => 3,
    'slug' => 'third-post',
    'excerpt' => 'Third post details ...',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam dolorem quos necessitatibus ipsam debitis nisi quasi, animi nostrum totam corrupti at cum. Saepe, cumque.</p><p>Vitae enim soluta delectus quod iure est magnam impedit accusamus facere, consequatur tenetur distinctio molestias expedita corrupti, modi voluptate cumque. Aperiam, neque eos? Optio, ipsa itaque. Expedita, alias aliquam. Autem odio aut eum doloribus animi. Eius, veniam rem iure maiores non tenetur. Iste sequi delectus explicabo alias tenetur hic assumenda possimus dicta, quia, natus commodi!</p>'
])
Post::create([
    'title' => 'Fourth post',
    'category_id' => 2,
    'slug' => 'fourth-post',
    'excerpt' => 'Fourth post details ...',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe aperiam dolorem quos necessitatibus ipsam debitis nisi quasi, animi nostrum totam corrupti at cum. Saepe, cumque.</p><p>Vitae enim soluta delectus quod iure est magnam impedit accusamus facere, consequatur tenetur distinctio molestias expedita corrupti, modi voluptate cumque. Aperiam, neque eos? Optio, ipsa itaque. Expedita, alias aliquam. Autem odio aut eum doloribus animi. Eius, veniam rem iure maiores non tenetur. Iste sequi delectus explicabo alias tenetur hic assumenda possimus dicta, quia, natus commodi!</p>'
])

Category::create([
    'name' => 'Web Design',
    'slug' => 'web-design'
])

Category::create([
    'name' => 'Food',
    'slug' => 'food'
])